<div class="container-fluid">
    <div class="row">
       <div class="main-header">
          <h4>Prediction 대시보드</h4>
       </div>
    </div>
    <!-- 4-blocks row start -->
    <div class="row dashboard-header">
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
             <span>총 수집 댓글수</span>
             <h2 class="dashboard-total-products">4500</h2>
             <span class="label label-warning">Sales</span>Arriving Today
             <div class="side-box">
                <i class="ti-signal text-warning-color"></i>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
             <span>총 수집한 언론사 개수</span>
             <h2 class="dashboard-total-products">37,500</h2>
             <span class="label label-primary">Views</span>View Today
             <div class="side-box ">
                <i class="ti-gift text-primary-color"></i>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
             <span>데이터 수집 총 기간</span>
             <h2 class="dashboard-total-products">$<span>30,780</span></h2>
             <span class="label label-success">Sales</span>Reviews
             <div class="side-box">
                <i class="ti-direction-alt text-success-color"></i>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
          <div class="card dashboard-product">
             <span>라벨링한 데이터수</span>
             <h2 class="dashboard-total-products">$<span>30,780</span></h2>
             <span class="label label-danger">Sales</span>Reviews
             <div class="side-box">
                <i class="ti-rocket text-danger-color"></i>
             </div>
          </div>
       </div>
    </div>
    <!-- 4-blocks row end -->

    <!-- 1-3-block row start -->
    <div class="row">
       <div class="col-xl-4 col-lg-12">
          <div class="card">
             <div class="card-header">
                <h5 class="card-header-text">평균 긍정률</h5>
             </div>
             <div class="card-block">
                <div id="barchart" style="min-width: 250px; height: 330px; margin: 0 auto"></div>
             </div>
          </div>
       </div>
    </div>


    <div class="col-xl-4 col-lg-12 grid-item">
      <div class="card">
         <div class="card-block horizontal-card-img d-flex">
            <img class="media-object img-circle" src="static/images/avatar-3.png" alt="Generic placeholder image">
            <div class="d-inlineblock  p-l-20">
              <h6>김은서</h6>
              <a href="#">kessite17@gmail.com</a>
            </div>
            <h6 class="txt-danger rotate-txt">Developer</h6>
         </div>
      </div>
   </div>
   <div class="col-xl-4 col-lg-12 grid-item">
      <div class="card">
         <div class="card-block horizontal-card-img d-flex">
            <img class="media-object img-circle" src="static/images/lockscreen.png" alt="Generic placeholder image">
            <div class="d-inlineblock  p-l-20">
              <h6>Josephin Doe</h6>
              <a href="#">contact@admin.com</a>
           </div>
            <h6 class="txt-danger rotate-txt">Developer</h6>
         </div>
      </div>
   </div>
 </div>