<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>미니 프로젝트</title>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
 
<!-- 상단 메뉴 부분 -->
{% include 'include/top_menu.html' %}

<!-- 게시글 리스트 -->
<div class="container" style="margin-top:100px">
	<div class="card shadow">
		<div class="card-body">
			<h4 class="card-title"><b>{{board_data['board_name']}}</b></h4>
			<table class="table table-hover" id='board_list'>
				<thead>
					<tr>
						<th class="text-center d-none d-md-table-cell">글번호</th>
						<th class="w-50">제목</th>
						<th class="text-center d-none d-md-table-cell">작성자</th>
						<th class="text-center d-none d-md-table-cell">작성날짜</th>
					</tr>
				</thead>
				<tbody>
					{% for row in content_list %}
					<tr>
						<!-- for문을 돌려가며 board_main의 글제목, 작성자, 작성날짜 등을 입력 -->
						<td class="text-center d-none d-md-table-cell">{{row['content_idx']}}</td>
						<!-- board_read에서 '목록보기'를 눌렀을 때 1페이지가 아니라 기존 페이지로 돌아가도록 'page'라는 파라미터 달아주기 -->
						<td><a href="board_read?content_idx={{row['content_idx']}}&board_idx={{board_idx}}&page={{page}}">{{row['content_subject']}}</a></td>
						<td class="text-center d-none d-md-table-cell">{{row['user_name']}}</td>
						<td class="text-center d-none d-md-table-cell">{{row['content_date']}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- 페이징 부분 -->
			<div class="d-none d-md-block">
				<ul class="pagination justify-content-center">
					{# 시작페이지가 1이면 '이전'버튼이 안 나오게 하는 과정(비활성화) #}
					<li class="page-item">
						<a href="board_main?board_idx={{board_idx}}&page=1" class="page-link">처음</a>
					</li>
					{% if start_page != 1 %}
					<li class="page-item">
						<a href="board_main?board_idx={{board_idx}}&page={{start_page-1}}" class="page-link">이전</a>
					</li>
					{% endif %}
					
					{% for idx in range(start_page, end_page+1) %}
					{% if page == idx %}
					<li class="page-item active">
						<!-- active 속성 -->
						<a href="board_main?board_idx={{board_idx}}&page={{idx}}" class="page-link">{{idx}}</a>
					</li>
					{% else %}
					<li class="page-item">
						<a href="board_main?board_idx={{board_idx}}&page={{idx}}" class="page-link">{{idx}}</a>
					</li>
					{% endif %}
					{% endfor %}


					{% if end_page != PageCnt %}
					<li class="page-item">
						<a href="board_main?board_idx={{board_idx}}&page={{end_page+1}}" class="page-link">다음</a>
					</li>
					<li class="page-item">
						<a href="board_main?board_idx={{board_idx}}&page={{pageCnt}}" class="page-link">마지막</a>
					</li>
					{% endif %}
				</ul>
			</div>
			
			<div class="d-block d-md-none">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a href="#" class="page-link">이전</a>
					</li>
					<li class="page-item">
						<a href="#" class="page-link">다음</a>
					</li>
				</ul>
			</div>
			{% if session.get('login_user_idx') != None %}
			{# 로그인한 정보가 세션에 존재할 때만 글쓰기 가능 #}
			<div class="text-right">
				<!-- '글쓰기'를 누르면 게시판 인덱스도 함께 보내기 -->
				<a href="board_write?board_idx={{board_data['board_idx']}}" class="btn btn-primary">글쓰기</a>
			</div>
			{% endif %}	
		</div>
	</div>
</div>

<!-- 하단 메뉴 부분 -->
{% include 'include/bottom_menu.html' %}

</body>
</html>






